
html {
    --bordercolour: #2f2f2f;
    --borderimg: #f00;
    --bordergradcola: #8aa1be;
    --paddingamount: 2px;
    --buttonsopacity: 1;
    padding: var(--paddingamount);
}

body {
    background-color: #222;
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeSpeed;
    font-family: sans-serif;
}

p {
    color: #eee;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    background-color: var(--bordercolour);
    background-image: url("img/gloss-header.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;

    align-self: stretch;
    height: 31px;
    -webkit-app-region: drag;
    box-shadow: 0 7.5px 0 -7px #666, 0 10px 3px -7px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 7;
    left: var(--paddingamount);
    right: var(--paddingamount);
    top: var(--paddingamount);
}

#header-left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 60px;

    align-self: stretch;
    height: 31px;
    -webkit-app-region: drag;
    box-shadow: 0 7.5px 0 -7px #666, 0 10px 3px -7px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 7;
    left: var(--paddingamount);
    right: var(--paddingamount);
    top: var(--paddingamount);
}

#headertext {
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
    left: 0;
    right: 0;
    top: 8px;
    height: 24px;
    font-size: 15px;
    position: absolute;
    z-index: 15;
    pointer-events: none;
    color: #aaa;
    text-shadow: -1px 1px 0 rgba(210, 210, 210, 0.2), 1px -1px 0 rgba(0, 0, 0, 0.2);
}

#bordercontainer {
    width: 100%;
    height: 100%;
}

/* Grey frame */
#frameleft {
    position: absolute;
    top: var(--paddingamount);
    bottom: var(--paddingamount);
    left: var(--paddingamount);
    width: 6px;
    background-color: var(--bordercolour);
    box-shadow: 2px 0 0 -1px #666, 4px 0 3px -1px rgba(0, 0, 0, 0.5);
    z-index: 5;
}

#frameright {
    position: absolute;
    top: var(--paddingamount);
    bottom: var(--paddingamount);
    right: var(--paddingamount);
    width: 6px;
    background-color: var(--bordercolour);
    box-shadow: -2px 0 0 -1px #666, -4px 0 3px -1px rgba(0, 0, 0, 0.5);
    z-index: 5;
}

#framebottom {
    position: absolute;
    left: var(--paddingamount);
    right: var(--paddingamount);
    bottom: calc(23px + var(--paddingamount));
    margin-bottom: -23px;
    height: 31px;
    background-color: var(--bordercolour);
    box-shadow: 0 -8px 0 -7px #666, 0 -10px 3px -7px rgba(0, 0, 0, 0.5);
    z-index: 5;
}

/* Gradient Border */
#borderleft {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: var(--borderimg);
    z-index: 8;
}

#borderright {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: var(--borderimg);
    z-index: 8;
}

#borderbottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--borderimg);
    z-index: 8;
}

#bordertop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: var(--borderimg);
    z-index: 8;
}

#contentarea {
    margin: 80px 30px 0 30px;
}

input[type=text]{
    border-radius: 6px;
    padding: 6px 10px;
    box-sizing: border-box;
    border: none;
    background-color: #555;
    border: 2px solid #777;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    box-shadow: 0 0 3px 2px #222, 2px 2px 2px #000;
}

input[placeholder] {
    color: #999;
}

#footer-content {
    position: relative;
    text-align: left;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 2px 2px 3px #000;
    color: #fff;

    left: 50px;
    right: 50px;
    margin-right: 80px;
    margin-top: 30px;
    margin-left: -20px;
}

#footer-content p {
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    z-index: 5;
}

#footer-text {
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: absolute;
    margin-top: 30px;
    font-size: 12px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#footer-info-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url('img/info-ylw.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-top: 10px;
}

#gloss-overlay-static {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/list-default.png");
    background-color: transparent;
}

.tooltip .tooltiptext {
    transition: opacity 0.8s;
    opacity: 0;
    background-image: linear-gradient(180deg, #d8d8d8 0%, #a5bad6 100%);
    color: #222;
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;
    position: absolute;
    font-size: 12px;

    z-index: 12;
    top: 110%;
    left: 50%;
    margin-left: -60px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.7);
	
    border: 1px solid #767676;
    pointer-events: none;
}

.tooltip:hover .tooltiptext {
    transition: opacity 0.4s;
    opacity: 1;
}